<section>
    <div class="flex-wrapper" fxLayout="row" fxLayoutAlign="start center" >
        <div class="flex-wrapper" fxLayout="row" fxLayoutAlign="start center">
        <img class="animate__animated animate__slideInDown" src="../../../assets/img/about-1.png">
        <img class="img-2 animate__animated animate__slideInUp" src="../../../assets/img/about-2.png">
    </div> 
    <div class="right-col animate__animated animate__slideInright">
        <h1>ABOUT THE MEDICINE CABINET</h1>
        <hr>
        <p>
            The Medicine Cabinet Podcast showcases the anecdotal experiences and antidotal insights of ambitious artists from all over the world.
        </p>
    </div>
    </div>
</section>