<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Home">
      <ng-template matTabContent>
        <app-home></app-home>
      </ng-template>
    </mat-tab>
    <mat-tab label="About">
      <ng-template matTabContent>
        <app-about></app-about>
      </ng-template>
    </mat-tab>
    <mat-tab label="Videos">
      <ng-template matTabContent>
        <app-videos></app-videos>
      </ng-template>
    </mat-tab>
    <mat-tab label="Social Media">
      <ng-template matTabContent>
        <app-social></app-social>
      </ng-template>
    </mat-tab>
  </mat-tab-group>