<section>
    <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="start center" >
        <div class="home-top-row">
            <h1 class="animate__animated animate__slideInDown">MEDICINE CABINET</h1>
            <hr class="animate__animated animate__slideInLeft">
            <p class="animate__animated animate__slideInLeft">Our Official Website</p>
            </div>
        <div class="home-bot-row animate__animated animate__slideInUp">
            <img class="home-logo1" src="../../../assets/img/home-logo1.png">

        </div>
       
    </div>
</section>   